<h2>{{ title }}</h2>

@if (loading) {
  Loading planets...
} @else if (error) {
  Error while planets loading...
} @else {
  <div class="planets">
    @for(planet of planets; track planet.name) {
      <app-item-card [item]="planet" [fields]="fields"></app-item-card>
    } @empty {
      <p>There are no Planets</p>
    }
  </div>
  @if(planets.length) {
    <div class="pagination">
      <a href="" class="pagination_element" [ngClass]="{ 'pagination_element_disabled': (currentPage === 0)}" (click)="goPreviousPage($event)">PreV</a>
      <p>{{ currentPage + 1 }}</p>
      <a href="" class="pagination_element" [ngClass]="{ 'pagination_element_disabled': (isLastPage === true)}" (click)="goNextPage($event)">NexT</a>
    </div>
  }
}
