<h2>{{ title }}</h2>

@if (loading) {
  Loading heroes...
} @else if (error) {
  Error while heroes loading...
} @else {
  <div class="people">
    @for(swhero of people; track swhero.name) {
      <app-item-card [item]="swhero" [fields]="fields"></app-item-card>
    } @empty {
      <p>There are no SW Heroes</p>
    }
  </div>
  @if(people.length) {
    <div class="pagination">
      <a href="" class="pagination_element" [ngClass]="{ 'pagination_element_disabled': (currentPage === 0)}" (click)="goPreviousPage($event)">PreV</a>
      <p>{{ currentPage + 1 }}</p>
      <a href="" class="pagination_element" [ngClass]="{ 'pagination_element_disabled': (isLastPage === true)}" (click)="goNextPage($event)">NexT</a>
    </div>
  }
}
