a {
  display: block;
  width: 300px;
  height: 64px;
  padding-left: 70px;
  text-decoration: none;
  position: relative;

  font-size: 17px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: left;
  color: #484848;

  &:hover {
    color: #4971FF;
    background: linear-gradient(90deg, rgba(73, 113, 255, 0.1) 0%, rgba(73, 113, 255, 0) 100%);
  }

  &.active {
    color: #4971FF;
    border-left: 4px solid #4971FF;
    background: linear-gradient(90deg, rgba(73, 113, 255, 0.1) 0%, rgba(73, 113, 255, 0) 100%);
  }

  &::before {
    content: '';
    // background: url('./../../../assets/icons/home.svg') center center no-repeat;
    width: 23px;
    height: 23px;
    position: absolute;
    top: 20px;
    left: 35px;
  }

  &.home {
    &::before {
      background: url('./../../../assets/icons/home.svg') center center no-repeat;
    }
  }

  &.people {
    &::before {
      background: url('./../../../assets/icons/people.svg') center center no-repeat;
    }
  }

  &.planets {
    &::before {
      background: url('./../../../assets/icons/planets.svg') center center no-repeat;
    }
  }

  &.films {
    &::before {
      background: url('./../../../assets/icons/films.svg') center center no-repeat;
    }
  }

  &.species {
    &::before {
      background: url('./../../../assets/icons/species.svg') center center no-repeat;
    }
  }

  &.starships {
    &::before {
      background: url('./../../../assets/icons/starships.svg') center center no-repeat;
    }
  }

  &.vehicles {
    &::before {
      background: url('./../../../assets/icons/vehicles.svg') center center no-repeat;
    }
  }
}
